<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
        http://www.springframework.org/schema/beans/spring-beans.xsd 
        http://www.springframework.org/schema/util 
        http://www.springframework.org/schema/util/spring-util-4.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop 
           http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
           http://www.springframework.org/schema/tx
           http://www.springframework.org/schema/tx/spring-tx-4.0.xsd"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:p="http://www.springframework.org/schema/p">


	<context:component-scan base-package="com.web">
		<!-- 在SpringMVC中进行一些配置，防止SpringMVC和SpringIOC对同一个对象的管理重合 -->
		<context:exclude-filter type="annotation"
			expression="org.springframework.stereotype.Controller" />
		<context:exclude-filter type="annotation"
			expression="org.springframework.web.bind.annotation.ControllerAdvice" />
	</context:component-scan>

	<!-- 
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">

		<property name="driverClassName" value="com.microsoft.sqlserver.jdbc.SQLServerDriver" />
		<property name="url"
			value="jdbc:sqlserver://203.118.16.169:1433;databaseName=spice" />
		<property name="username" value="sa" />
		<property name="password" value="zsoft+-1234" />
	</bean>
	 -->
	 <bean id="dataSource"
      class="org.springframework.jdbc.datasource.DriverManagerDataSource">
 
      <property name="driverClassName" value="com.mysql.jdbc.Driver" />
      
      <property name="url" value="jdbc:mysql://203.118.16.169:3311/FoodSolutions" />
      <property name="username" value="root" />
      <property name="password" value="webpcom0404+-" />
       
       <!-- 
      <property name="url" value="jdbc:mysql://127.0.0.1/FoodSolutions" />
      <property name="username" value="root" />
      <property name="password" value="Lsm870720" />
      -->
  	</bean>

	<!-- 配置Spring的JdbcTemplate -->
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource"></property>
	</bean>

	<!-- 配置NamedParameterJdbcTemplate，该对象可以使用具名参数，其没有无参构造器，必须为其构造器指定参数 -->
	<bean id="namedParameterJdbcTemplate"
		class="org.springframework.jdbc.core.namedparam.NamedParameterJdbcTemplate">
		<constructor-arg ref="dataSource"></constructor-arg>
	</bean>

	<!-- 添加事务管理器组件DataSourceTransactionManager -->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<!-- 使用set方法注入数据源 -->
		<property name="dataSource" ref="dataSource"></property>
	</bean>

	<!-- 采用@Transaction注解方式使用事务 -->

	<tx:annotation-driven transaction-manager="transactionManager" />

</beans>